section.contact {
  background-color: #1c2839;
  color: white;
  padding: 200px 0;
}

section.contact .container {
  margin: auto;
}

section.contact .container h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #14b8a7;
}

section.contact .container h1 {
  font-size: 40px;
}

section.contact .container p {
  margin: auto;
  color: grey;
}

section.contact form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

section.contact form label {
  padding: 10px 0;
}

section.contact form input,textarea {
  border-radius: 10px;
  background-color: #ddd;
  padding: 5px;
}

section.contact form button {
  width: 20%;
  margin: 20px auto;
}