.dark-mode {
    background-color: #1c2839;
    color: white;
} 

input[type='checkbox']{
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: #434343;
    outline: none;
    border-radius: 10px;
    transition: .2s;
    cursor: pointer;
}

input[type='checkbox']:checked {
    background-color: #3664ff;
}

input[type='checkbox']::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fcfcfc;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: .2s ease;
}
input[type='checkbox']:checked::before{
    transform: translateX(20px);
}

.dark-mode section.about{
    background-color: #1c2839;
}

.dark-mode section.client {
    background-color: #1c2839;
}

.dark-mode section.blog {
    background-color: #1c2839;
}